// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$primary-purple: hsl(259, 100%, 65%);
$primary-light-red: hsl(0, 100%, 67%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Typography
$body-copy-font-size: 32px;

// Font
$body-font-family: "Poppins", sans-serif;
$body-font-weights: 400i, 700, 800i;

* {
    margin: 0;
}

body {
    font-family: $body-font-family;
    font-weight: $body-font-weights;
    background-color: $neutral-light-grey;

    display: flex;
    justify-content: center;
}

h1 {
    font-size: $body-copy-font-size;
    color: $neutral-off-black;
}

.secondary-button {
    background-color: $neutral-off-white;
    color: $primary-light-red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 6rem;
    background-color: $neutral-white;


    width: 400px;

    border-radius: 25px;
    border-bottom-right-radius: 25%;
}

.input-element {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.age-input-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 12rem;

    &__headline {
        letter-spacing: 4px;
        font-size: 14px;
        margin-bottom: 10px;
        color: $neutral-smokey-grey;
        font-weight: bold;
    }

    &__input {
        height: 50px;
        border-radius: 10px;
        border: 1px solid $neutral-smokey-grey;
        font-size: 20px;
        padding-left: 1rem;
        font-weight: bold;
    }
}

.btn-container {

    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    &__primary-button {
        color: $neutral-white;
        border-radius: 50%;
        border: none;

        width: 100px;
        height: 100px;

        background-color: $primary-purple;
        background-image: url("../images/icon-arrow.svg");
        background-size: cover;
    }
}

.age-output-container {
    margin-top: 1rem;
    font-size: 4rem;
    padding: 1rem;

    &__textoutput {

    }
}
