// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$primary-purple: hsl(259, 100%, 65%);
$primary-light-red: hsl(0, 100%, 67%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Typography
$body-copy-font-size: 32px;

// Font
$body-font-family: "Poppins", sans-serif;
$body-font-weights: 400i, 700, 800i;

body {
    font-family: $body-font-family;
    font-weight: $body-font-weights;
    background-color: $neutral-light-grey;
}

h1 {
    font-size: $body-copy-font-size;
    color: $neutral-off-black;
}

.secondary-button {
    background-color: $neutral-off-white;
    color: $primary-light-red;
}

.container {
    background-color: white;
    border-radius: 5px;
    height: 40rem;
}

.input-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    &__input{
        border-radius: 5px;
        width: 100px;
        height: 50px;
    
    }
        
}

.button {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
    border-bottom: 1px solid grey;
    z-index: 5;
}

.primary-button {
    background-color: $primary-purple;
    color: $neutral-white;
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    margin-top: -1rem;
    z-index: 10;
}